@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #2AE2BD;
}

.special-text::selection{
    background: #575757;
}

.dark-bold-text::selection{
    background: #e6e6e6;
}

.light-bold-text::selection{
    background: #2AE2BD;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    position: relative;
    font-weight: 400;
    color: #575757;
}

body {
    background-color: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 800;
}

/* FLEX CLASSES */

.set-flex-row {
    display: flex;
    flex-direction: row;
}

.set-flex-col {
    display: flex;
    flex-direction: column;
}

/* Flex row */
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

/* Flex row */
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

/* Width's and Height's */
.set-wf-full {
    width: 100%;
    height: 100%;
}

/* Scroll-bar */
body {
    scrollbar-width: "0px"; /* Firefox */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 12px;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    scroll-snap-align: start;
    min-height: 100vh;
    overflow-x: hidden;
}

